{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de senha</title>
</head>
<body>
    <p>Prezado Cliente,</p>
    <p>Você está recebendo esta mensagem porque uma solicitação de redefinição de senha foi iniciada para sua conta no sistema da Grow BPO.</p>
    <p>Para garantir a segurança contínua de sua conta, é crucial que você conclua este processo de redefinição de senha. Por favor, clique no link abaixo para definir uma nova senha:</p>
    <a href="{{ reset_url_front }}">Redefinir senha</a>
    <p>Por favor, observe que este link expira em 1 hora. Após esse período, será necessário solicitar uma nova redefinição de senha.</p>
    <p>Se você não solicitou esta redefinição ou acredita que esta ação possa ser suspeita, recomendamos que entre em contato conosco imediatamente para garantir a integridade de sua conta.</p>
    <p>Agradecemos por sua cooperação e compreensão neste assunto.</p>
    <p>Atenciosamente,</p>
    <p>Equipe Grow BPO.</p>
</body>
</html>
